/* Start table CSS */

.main-body .right-side .content .table-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-body .right-side .content .table-body table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
    width: 100%;
}

.main-body .right-side .content .table-body thead,
.main-body .right-side .content .table-body tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.main-body .right-side .content .table-body tbody tr td,
.main-body .right-side .content .table-body thead tr th {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: left;
}

.main-body .right-side .content .table-body thead {
    background-color: var(--blue);
    color: var(--white);
}

.main-body .right-side .content .table-body tbody {
    display: block;
    height: calc( 100vh - 170px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-body .right-side .content .table-body tbody tr:nth-child(even) {
    background-color: var(--bluish-white);
}

.main-body .right-side .content .table-body .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
}

.main-body .right-side .content .table-body .button .btn {
    padding: 5px 10px;
    width: 60px;
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: var(--font12);
    font-weight: 600;
    cursor: pointer;
}

.main-body .right-side .content .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


/* End table CSS */